<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Janji Temu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h2>Search Pasien yang akan dibuatkan Janji Temu</h2>

    <div class="form-container">
        <form action="/createappointment" method="post">
            <label class="field-label" for="name">Nama Pasien:</label>
            <input type="text" id="name" name="name" placeholder="Enter Nama Pasien:">
            <input type="submit" value="Search" class="update-button">
        </form>
        <a href="/" class="home-button">Kembali ke Home</a>
    </div>

    {% if patients_list %}
    <h3 class="title">Patient Found:</h3>
    <table>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Medical History</th>
            <th>Action</th>
        </tr>
        {% for patient in patients_list %}
        <tr>
            <td>{{ patient.patient_id }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.medical_history }}</td>
            <td>
                <button onclick="showCreateForm('{{ patient.patient_id }}')" class="update-button">Create</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div id="createForm" style="display:none;">
        <h3 class="title">Input Janji Temu:</h3>
        <form action="/create-appointment" method="post">
            <label class="field-label" for="patient_id">Patient ID:</label>
            <input type="text" id="patient_id" name="patient_id" placeholder="Enter Patient ID" required readonly>
            <label class="field-label" for="doctor_name">Doctor Name:</label>
            <input type="text" id="doctor_name" name="doctor_name" placeholder="Enter Docter Name" required>
            <label class="field-label" for="date">Date:</label>
            <input type="datetime-local" id="date" name="date" placeholder="Enter Date" required>
            <label class="field-label" for="diagnosis">Diagnosis:</label>
            <input type="text" id="diagnosis" name="diagnosis" placeholder="Enter Diagnosis" maxlength="255">
            <input type="submit" value="Submit" class="update-button">
        </form>
    </div>
    <script>
        function showCreateForm(patient_id) {
            document.getElementById('patient_id').value = patient_id;
            document.getElementById("date").min = new Date().toISOString().slice(0, -8);
            document.getElementById('createForm').style.display = 'block';
        }
    </script>

    {% else %}
    <p class="title">Tidak ada data yang ditemukan untuk nama pasien yang diberikan</p>
    {% endif %}
</body>
</html>