<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tampilan Semua Data Pasien</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <a href="/" class="home-button-display">Kembali ke Home</a>
    <h1>Semua Data Pasien</h1>
    <br>    
    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Medical History</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients_list %}
            <tr>
                <td>{{ patient.patient_id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.medical_history }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>