<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search and Update Data</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="purple-theme ">
    <h2>Search Patient to Update</h2>

    <div class="form-container">
        <form action="/updateappointment" method="post">
            <label class="field-label" for="name">Nama Pasien:</label>
            <input type="text" id="name" name="name" placeholder="Enter Nama Pasien">
            <input type="submit" value="Search" class="update-button">
        </form>
        <a href="/" class="home-button">Kembali ke Home</a>
    </div>

    {% if appointments_list %}
    <h3>Appointment Found:</h3>
    <table>
        <tr>
            <th>Appoinment ID</th>
            <th>Patient ID</th>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Diagnosis</th>
            <th>Action</th>
        </tr>
        {% for appointment in appointments_list %}
        <tr>
            <td>{{ appointment.appointment_id }}</td>
            <td>{{ appointment.patient_id }}</td>
            <td>{{ appointment.doctor_name }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.diagnosis }}</td>
            <td>
                <button onclick="showUpdateForm('{{ appointment.appointment_id }}', '{{ appointment.patient_id }}', '{{ appointment.doctor_name }}', '{{ appointment.date }}', '{{ appointment.diagnosis }}')" class="update-button">Update</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div id="updateForm" style="display:none;">
        <h3>Update Data:</h3>
        <form action="/update-appointment" method="post">
            <input type="hidden" id="updateId" name="appointment_id">
            <input type="hidden" id="updatedPatientId" name="patient_id">
            <label class="field-label" for="updateDoctorName">Doctor Name:</label>
            <input type="text" id="updateDoctorName" name="doctor_name" placeholder="New Name Doctor Name" required>
            <label class="field-label" for="updateDate">Date:</label>
            <input type="datetime-local" id="updateDate" name="date" placeholder="New Date" required>
            <label class="field-label" for="updateDiagnosis">Diagnosis:</label>
            <input type="text" id="updateDiagnosis" name="diagnosis" placeholder="New Diagnosis" required>
            <input type="submit" value="Submit" class="update-button">
        </form>
    </div>
    <script>
        function showUpdateForm(appointment_id, patient_id, doctor_name, date, diagnosis) {
            document.getElementById('updateId').value = appointment_id;
            document.getElementById('updatedPatientId').value = patient_id;
            document.getElementById('updateDoctorName').value = doctor_name;
            document.getElementById('updateDate').value = date;
            document.getElementById('updateDiagnosis').value = diagnosis;
            document.getElementById('updateForm').style.display = 'block';
        }
    </script>

    {% else %}
    <p>Tidak ada data yang ditemukan untuk nama pasien yang diberikan</p>
    {% endif %}
</body>
</html>